<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content">
                <h1>Register</h1>
                <p class="font-11 mt-n2 mb-3">Create Account. It's free!</p>
                <div class="input-style input-style-1 has-icon input-required">
                    <i class="fa fa-user input-icon"></i>
                    <span class="color-highlight">Username</span>
                    <em>(required)</em>
                    <input class="form-control rounded-0" type="name" placeholder="Name">
                </div> 
                <div class="input-style input-style-1 has-icon input-required">
                    <i class="fa fa-at input-icon"></i>
                    <span class="color-highlight">Username</span>
                    <em>(required)</em>
                    <input class="form-control rounded-0" type="email" placeholder="Email">
                </div> 
                <div class="input-style input-style-1 has-icon input-required">
                    <i class="fa fa-lock input-icon"></i>
                    <span class="color-highlight">Password</span>
                    <em>(required)</em>
                    <input class="form-control rounded-0" type="password" placeholder="Password">
                </div>         
                <div class="input-style input-style-1 has-icon input-required">
                    <i class="fa fa-lock input-icon"></i>
                    <span class="color-highlight">Password</span>
                    <em>(required)</em>
                    <input class="form-control rounded-0" type="password" placeholder="Confirm Password">
                </div>         
            <div class="row mb-0">
                <a href="#" class="col-6 text-start font-10 pt-2 pb-2 color-blue-dark">Forgot Password?</a>
                <a href="#" class="col-6 text-end font-10 pt-2 pb-2 color-blue-dark">Sign In</a>
            </div>

            <a href="#" class="btn btn-full btn-m bg-green-dark rounded-sm mt-3 mb-4 font-800 text-uppercase shadow-xl">Register Account</a>
            <div class="divider"></div>
            <a href="#" class="btn btn-full btn-icon btn-l bg-dark-dark rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-apple"></i>Connect with Apple ID</a>
            <a href="#" class="btn btn-full btn-icon btn-l bg-facebook rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-facebook-f"></i>Connect with Facebook</a>
            <a href="#" class="btn btn-full btn-icon btn-l bg-twitter rounded-sm mb-2 font-800 text-uppercase shadow-xl"><i class="fab fa-twitter"></i>Connect with Twitter</a>
        </div>
    </div>
    <div class="footer" data-menu-load="menu-footer.html"></div>
</div>