<div id="page">
    
    <div class="header header-fixed header-logo-app">
        <a href="#" data-back-button class="header-title">KOLOR</a>
        <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
        <a href="#" data-menu="menu-color" class="header-icon header-icon-2"><i class="fas fa-cog fa-spin"></i></a>
        <a href="#" data-toggle-theme      class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-lightbulb color-yellow-dark"></i></a>
        <a href="#" data-toggle-theme      class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
        <a href="#" data-menu="menu-bookmarks"  class="header-icon header-icon-4"><i class="fas fa-bookmark color-red-dark"></i></a>
    </div>
    <div id="footer-bar" class="footer-bar-4">
        <a href="pages-list.html" class="active-nav"><i class="fa fa-heart"></i><span>Pages</span></a>
        <a href="components-list-detailed.html"><i class="fa fa-star"></i><span>Features</span></a>
        <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
        <a href="pages-media.html"><i class="fa fa-image"></i><span>Media</span></a>
        <a href="contact.html"><i class="fa fa-envelope"></i><span>Contact</span></a>
    </div>

    <!-- Global Menus-->
    <div id="menu-color" data-menu-load="menu-color.html" class="menu menu-box-modal menu-gradient"  data-menu-width="cover" data-menu-height="cover"></div>   
    <div id="menu-share" data-menu-load="menu-share.html" data-menu-effect="menu-parallax" class="menu menu-box-bottom menu-box-detached" data-menu-height="390"></div>   
    
    <div class="page-content header-clear-medium">
                    
        <div class="card card-style">
            <div class="content mb-0">
                <h3>2020 Archive</h3>
                <p>
                    Content categories you've saved for later. You can conenct these to the news lists.
                </p>
                <div class="list-group list-custom-small">
                    <a href="#"><span>Technology</span><span class="badge bg-highlight">12</span></a>     
                    <a href="#"><span>Resources</span><span class="badge bg-highlight">15</span></a>     
                    <a href="#"><span>Photography</span><span class="badge bg-highlight">28</span></a>     
                    <a href="#"><span>Breaking News</span><span class="badge bg-highlight">63</span></a>     
                    <a href="#"><span>Reminders</span><span class="badge bg-highlight">18</span></a>     
                    <a href="#"><span>Meditation</span><span class="badge bg-highlight">10</span></a>     
                    <a href="#"><span>Freebies</span><span class="badge bg-highlight">52</span></a>     
                    <a href="#" class="border-0"><span>Downloadable</span><span class="badge bg-highlight">68</span></a>     
                </div>
            </div>
        </div>
            
        <div class="footer" data-menu-load="menu-footer.html"></div>
    </div>
    <!-- Page content ends here-->
       
    <div class="page-bg"><div></div></div>

    <div id="menu-bookmarks"
         class="menu menu-box-top menu-box-detached" 
         data-menu-height="330"
         data-menu-effect="menu-over">
        <div class="content">
            <div class="d-flex mb-3">
                <div>
                    <img src="images/pictures/14s.jpg" class="rounded-sm" width="60">
                </div>
                <div class="w-100 ms-auto">
                    <a href="#"><p class="line-height-s color-theme mb-n2 ps-3 pt-1">Bane's new favorite food is market fresh strawberries.</p></a>
                    <a href="#" class="ps-3 color-blue-dark pt-2 d-block font-10"><i class="fa fa-eye pe-2"></i>Read Now</a>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div>
                    <img src="images/pictures/5s.jpg" class="rounded-sm" width="60">
                </div>
                <div class="w-100">
                    <a href="#"><p class="line-height-s color-theme mb-n2 ps-3 pt-1">Eyeglasses with eyebrows are now on sale at Walmart.</p></a>
                    <a href="#" class="ps-3 color-blue-dark pt-2 d-block font-10"><i class="fa fa-eye pe-2"></i>Read Now</a>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div>
                    <img src="images/pictures/1s.jpg" class="rounded-sm" width="60">
                </div>
                <div class="w-100">
                    <a href="#"><p class="line-height-s color-theme mb-n2 ps-3 pt-1">Macboks now have no keyboards. This is very interesting.</p></a>
                    <a href="#" class="ps-3 color-blue-dark pt-2 d-block font-10"><i class="fa fa-eye pe-2"></i>Read Now</a>
                </div>
            </div>           
            <a href="#" class="close-menu btn btn-m rounded-sm btn-full bg-red-dark font-800 text-uppercase mt-4">View all bookmarks</a>
        </div>
    </div>   

</div>