<div class="h-screen background">
  <!-- <div class="app-grid-widgets-l">
    <div *ngFor="let app of widgetsL; let i = index" (click)="openAppTop(i)" class="app-icon-widgets-l"
      [style.backgroundImage]="'url(' + app.icon + ')'">
    </div>
  </div> -->
  <div class="app-grid-widgets">
    <!-- Generar iconos de aplicaciones para el resto de la pantalla -->
    <div class="app-icon-widgets">
      <app-reloj></app-reloj>

    </div>
    <div class="app-icon-widgets" (click)="cambiarIndex()">

      <app-photos-thumb></app-photos-thumb>
    </div>
  </div>
  <div class="app-grid">
    <!-- Generar iconos de aplicaciones para el resto de la pantalla -->
    <div *ngFor="let app of appsTop; let i = index" (click)="openAppTop(i)" class="app-icon"
      [style.backgroundImage]="'url(' + app.icon + ')'"></div>

  </div>
  <div class="top-apps">
    <!-- Generar 4 iconos de aplicaciones para la fila superior -->
    <div *ngFor="let app of bottomApps.slice(0, 4); let i = index" (click)="openAppBottom(i)" class="app-icon"
      [style.backgroundImage]="'url(' + app.icon + ')'"></div>
  </div>
</div>
<router-outlet></router-outlet>