<body>
  <nav id="header">
    <ul>
      <li><a href="">+You</a></li>
      <li><a href="">Fmail</a></li>
      <li><a href="">Images</a></li>
      <li><a href="">Apps</a></li>
      <li><a href="">Sign in</a></li>
    </ul>
  </nav>

  <div id="container">
    <h1 id="logo">Foogle</h1>


    <form>
      <input type="text" />
      <input type="submit" value="OnlyFrans search" />
      <input type="submit" value="Feeling so Lucky" />
    </form>

    <p>
      <small>OnlyFrans.ca offered in:<a href=""> Fran&ccedil;ais</a></small>
    </p>
  </div>
  <!--END OF CONTAINER-->
</body>